

$text-sizes:4,6,8,10, 12, 14, 16,17, 18, 20, 21,22 , 24,26,28;

@each $text-size in $text-sizes {
  .f-#{$text-size} {
      font-size: #{$text-size}px !important;
      line-height: #{$text-size + 2}px;
  }
}



$breakpoints: (
  null: "",
  // default (tanpa breakpoint)
  xs: "480px",
  sm: "640px",
  md: "768px",
  lg: "1024px"
);

$columns: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12;
$rows: 1, 2, 3, 4, 5, 6, 7, 8;

.grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

@each $breakpoint, $minWidth in $breakpoints {
  @if $minWidth !="" {
    @media (min-width: #{$minWidth}) {
      @each $col in $columns {
        .grid-#{$breakpoint}-cols-#{$col} {
          grid-template-columns: repeat(#{$col}, minmax(0, 1fr));
        }
      }

      @each $row in $rows {
        .grid-#{$breakpoint}-rows-#{$row} {
          grid-template-rows: repeat(#{$row}, minmax(0, 1fr));
        }
      }
    }
  }

  @else {
    @each $col in $columns {
      .grid-cols-#{$col} {
        grid-template-columns: repeat(#{$col}, minmax(0, 1fr));
      }
    }

    @each $row in $rows {
      .grid-rows-#{$row} {
        grid-template-rows: repeat(#{$row}, minmax(0, 1fr));
      }
    }
  }
}

@for $i from 1 through 12 {
  .col-span-#{$i} {
    grid-column: span #{$i} / span #{$i};
  }
}

@for $i from 1 through 8 {
  .row-span-#{$i} {
    grid-row: span #{$i} / span #{$i};
  }
}


